/*
.three__screen{
    
} */ 

.three__screen h3 { 
    color: #070707; 
    line-height: 42px; 
    font-size: 34px; 
    padding-top: 70px;
}  

.three__screen p {
   color: #070707; 
   line-height: 22px; 
   font-size: 18px; 
   padding-top: 50px;   
}  

.three__boxis {
    margin: 0 auto; 
    max-width: 1100px; 
    display: flex;
    justify-content: space-between;
    padding-top:60px;  
    padding-bottom: 100px;
}
